@define-color black #111111;
@define-color lightblack #222222;
@define-color darkgray #333333;
@define-color gray #444444;
@define-color lightgray #b5b5b5;
@define-color white #dadada;
@define-color red #fb5f68;
@define-color yellow #fadf65;
@define-color green #a4cd51;
@define-color blue #7998ff;
@define-color magenta #bf93ff;

* {
	border: none;
	border-radius: 0;
	font-family: "JetBrainsMono Nerd Font";
	font-weight: bold;
	font-size: 14px;
	min-height: 0;
	text-shadow: none;
	box-shadow: none;
	-gtk-icon-shadow: none;
}

window#waybar {
	color: @white;
	background: @black;
	border-radius: 2px;
}
tooltip {
	color: @white;
	background: @lightblack;
	border-radius: 2px;
	border: 2px solid @black;
}
menu {
	padding: 10px;
	background: @lightblack;
	border: 2px solid @black;
	border-radius: 2px;
}
menu > * {
	border-radius: 2px;
	color: @lightgray;
}
menu > *:hover {
	background: @green;
	color: @black;
}

#workspaces,
#window,
#tray,
#pulseaudio,
#network,
#bluetooth,
#battery,
#clock {
	color: @black;
	padding: 0 10px;
}

#workspaces {
	padding: 0 8px;
	background: @lightblack;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
}
#workspaces button {
	padding: 0 4px;
	color: @gray;
	background: transparent;
}
#workspaces button.focused,
#workspaces button.active,
#workspaces button:hover {
	color: @lightgray;
}

#window {
	padding: 0 16px;
	color: @lightgray;
}

#tray {
	background: @lightblack;
}

#pulseaudio {
	background: @blue;
	padding-left: 16px;
	padding-right: 18px;
}

#network,
#bluetooth,
#battery {
	background: @green;
}
#network {
	padding-left: 16px;
	padding-right: 12px;
}
#bluetooth {
	padding-right: 12px;
}
#battery {
	padding-right: 18px;
}
#battery.capacity {
	padding-left: 0;
	padding-right: 16px;
}
#battery.warning {
	padding: 0 16px;
	animation: battery-warning 3s infinite;
}
#battery.critical {
	padding: 0 16px;
	animation: battery-critical 1s infinite;
}

@keyframes battery-warning {
	0% { background: @green; }
	50% { background: @yellow; }
	100% { background: @green; }
}
@keyframes battery-critical {
	0% { background: @red; }
	40% { background: @yellow; }
	80% { background: @red; }
	100% { background: @red; }
}

#clock {
	padding: 0 16px;
	background: @yellow;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
}
